.home-top {
  background: #8360c3 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2ebf91, #8360c3) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* margin-bottom: 2em; */
  /* height: 100vh !important; */
  text-align: center;
  padding-bottom: 5em;
}
.addPadding {
  padding-top: 0px;
  padding-bottom: 60px;
}

.aboutMeImage {
  max-width: 100%;
  margin: auto;
  text-align: center; 
  padding-top: 70px;
  padding-bottom: 2em;
  border-radius: 25%;
  
};

#centerMe {
  /* text-align: center; */
  font-family: 'Anton', sans-serif;
  margin-bottom: 1em;
  font-weight: bold;
}

.addPadding p {
  font-size: 1em;
}


#home-avatar {
  width: 20%;
  margin: 3%;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.column {
  justify-content: center;
  text-align: center;
  margin-top: 3em;
}

.column h2 {
  font-family: 'Anton', sans-serif;
  margin-bottom: 1em;
}

.column p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-me {
  text-align: start;
  font-family: 'Anton', sans-serif;
  font-size: x-large;
  color: black;
  padding-bottom: 3em;
}

.contact-me a {
  color: black !important;
}

.contact-me i {
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color: black;
}
.contact-item {
  line-height: 20px;
}


.column hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
  margin-bottom: 3em;
}

.contact-avatar {
  height: 250px;
}

.contactP {
  margin: auto;
  padding-top: 1em;
}


.banner {
  background-color: black;
  opacity: .8;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  padding: 1rem
}

.banner h1 {
  margin: auto;
  font-size: 5vw;
  color: white;
}

.banner hr {
  border-top: 0.5vw solid;
  width: 75%;
  font-size: 5vw;
  color: white;
  border-radius: .2em;
}

.banner p {
  color: white;
  font-size: 1rem;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 500%;
  padding: 8px;
}

.social-links a {
  font-size: 1.5vw;
}



.navbar {
  background: #8360c3 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2ebf91, #8360c3) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media only screen and (max-width: 720px) {
  .aboutMeImage {
    max-width: 75%;
  };
}

@media only screen and (max-width: 540px) {
  .social-links a {
    font-size: 2.2vw!important;
  }
  #home-avatar {
    width: 40% !important;
  }
  .aboutMeImage {
    max-width: 60%;
  };
}
@media only screen and (max-width: 900px) and (max-width:960px) {
  .aboutMeImage {
    max-width: 75%;
  };
}
@media only screen and (max-width: 960px) and (max-width:1126px) {
  .aboutMeImage {
    max-width: 100%;
  };
}
