.body, .gradient {
  background: #8360c3 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2ebf91, #8360c3) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 2em;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.landing-grid {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  text-align: center;
  margin-bottom: 2em;
}


.banner {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  padding: 1rem
}

.banner h1 {
  margin: auto;
  font-size: 66px;
  color: white;
}

.banner hr {
  border-top: .5rem solid;
  width: 75%;
  color: white;
  border-radius: .2em;
}

.banner p {
  color: white;
  font-size: 1.5em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

#resume-icon {
  font-size: 4.6em;
}

.navbar {
  background: #8360c3 !important;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3) !important;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2ebf91, #8360c3) !important;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}